
<main class="bd-masthead">
    <div class="container">
      <img class="bd-booticon" src="assets/team.svg" alt="ng-bootstrap logo"/>
      <h1 style="color:#fff">Team</h1>
    </div>
  </main>
  <nav class="navbar navbar-light bg-light">
      

    <div class="navbar-brand"> 
     <a [routerLink]="['/users/create']">Add New</a>
   </div>
      <form class="form-inline my-2 my-lg-0">
         <input class="form-control mr-sm-2 " id="search" type="input" name="search" [(ngModel)]="search" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-success my-2 my-sm-0"  (click)="myEvent($event)" type="submit">Search</button>
       </form>
   </nav>
    
  
    <li *ngFor="let item of users" [routerLink]="['/users/detail',item.id]"  >
       <div class="card" style="margin: 10px">
           <div class="card-body">
             <h4 class="card-title">{{ item.name }}</h4>
             <p class="card-text"><b>Email : </b>{{ item.email }} </p>
             <p class="card-text"><b>Role : </b>{{ item.role }} </p>
             <a [routerLink]="['/users/detail',item.id ]" class="btn btn-primary">Show More</a>
           </div>
         </div>
   </li>
  